.my-transactions{
    
    width:90%; 
    display: block;
    margin: 0.5em auto;
}

.my-block{
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    overflow: scroll;
}
.address{
    color: red;
}

.expansion-panel {
    width: 50%;
    margin: 0.5em auto;
}

.tr_logo {
    height: 40px;
    width: 40px;
}

