.logo{
    width: 10rem;
    height: 10rem;

}

.bg {
    z-index: -1;
    background-position: left;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-over {
    position: absolute;
    vertical-align: auto;
    color: #fff;
    display: inline-flex;
    margin: 3rem auto auto 3rem;
    
}

.crop {
    max-width: 10%;
    height: 300px;

}